# python==3.9
scikit-learn
scikit-learn-intelex
pandas
numpy
scipy
joblib
pyyaml
tqdm
openpyxl
pillow
dash[diskcache]==2.6.2
# dash[celery]==2.6.2
flask==2.2.5
dash_bootstrap_components
dash-daq
chardet==4.0.0
transformers==4.36.0
accelerate
optimum==1.8.6
datasets
fugashi[unidic-lite]
ipadic
# ipython
# ipykernel
# notebook

## install PyToch
## https://pytorch.org/get-started/previous-versions/#v200
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.0.0+cpu
torchvision==0.15.1+cpu
torchaudio==2.0.1